.App {
	min-height: 100vh;
	background-color: #2f3c41;
}

.nav-item {
	min-height: 12vh;
	display: flex;
	background-color: #349bce;
	align-items: center;
	color: #2a373c;
}

.nav-item > h3 {
	margin-left: 1vw;
}

.card-item {
	display: flex;
	margin: 5vw;
	height: 60vh;
	background-color: #e8e3e3;
	position: relative;
}

.main-heading {
	margin-top: 5px;
	margin-left: auto;
	padding-right: 15px;
	order: 2;
}

.content-item {
	margin-top: 2vh;
	margin-left: 2vw;
}

.content-item h1 {
	display: inline-block;
	line-height: 1;
	border-bottom: 2px solid #379dd0;
	line-height: 0.95;
}

.buttons-item {
	position: absolute;
	top: 115%;
	width: 100%;
}

.position-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.position-item button {
	width: 5vw;
	height: 5vh;
	border-radius: 10px;
	background-color: #349cd0;
	color: white;
	font-size: 15px;
	font-weight: 1000;
}

.position-item a {
	color: white;
}
